DATABASE_URL="postgresql://postgres:postgres@db:5432/postgres"
TOKEN_SECRET_KEY=6097afe6-220f-45b1-bc3f-39cdd6e1dbab
AIRFLOW_URL=https://devairflow.iaps.ai
POSTGRES_HOST=db
POSTGRES_PORT=5432
SERVICE_PORT=8000
